Repository kKen94/angular-micro-12: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run fix:eslint, yarn run lint:code, yarn run fix:style

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,js,html}": [
    "yarn run fix:eslint",
    "yarn run lint:code",
    "git add"
  ],
  "packages/libraries/projects/**/src/**/*.{ts,js,html}": [
    "yarn run fix:eslint",
    "yarn run lint:code",
    "git add"
  ],
  "packages/**/src/**/*.scss": [
    "yarn run fix:style",
    "git add"
  ]
}

chore(set scripts): run and build
  package.json
  packages/dashboard/package.json
  packages/shared/.editorconfig
  packages/shared/.gitignore
  packages/shared/README.md
  packages/shared/angular.json
  packages/shared/package.json
  packages/shared/projects/models/README.md
  packages/shared/projects/models/karma.conf.js
  packages/shared/projects/models/ng-package.json
  packages/shared/projects/models/package.json
  packages/shared/projects/models/src/lib/models.component.spec.ts
  packages/shared/projects/models/src/lib/models.component.ts
  packages/shared/projects/models/src/lib/models.module.ts
  packages/shared/projects/models/src/lib/models.service.spec.ts
  packages/shared/projects/models/src/lib/models.service.ts
  packages/shared/projects/models/src/public-api.ts
  packages/shared/projects/models/src/test.ts
  packages/shared/projects/models/tsconfig.lib.json
  packages/shared/projects/models/tsconfig.lib.prod.json
  packages/shared/projects/models/tsconfig.spec.json
  packages/shared/tsconfig.json
  packages/skeleton/package.json
Due: yarn run fix:eslint, yarn run lint:code

chore(eslint): added eslint to dashboard project
  .lintstagedrc.json
  package.json
  packages/dashboard/.eslintignore
  packages/dashboard/.eslintrc.json
  packages/dashboard/.prettierignore
  packages/dashboard/.prettierrc.json
  packages/dashboard/.stylelintrc.json
  packages/dashboard/angular.json
  packages/dashboard/package.json
  packages/dashboard/src/app/app-routing.module.ts
  packages/dashboard/src/app/app.component.spec.ts
  packages/dashboard/src/app/app.component.ts
  packages/dashboard/src/app/app.module.ts
  packages/dashboard/src/environments/environment.prod.ts
  packages/dashboard/src/environments/environment.ts
  packages/dashboard/src/main.ts
  packages/dashboard/src/polyfills.ts
  packages/dashboard/src/test.ts
  yarn.lock
Due: yarn run fix:eslint, yarn run lint:code

build(github actions): added yamls to setup ci
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

build(lintstaged): edit
  .lintstagedrc.json
  .lintstagedrc.yml
Due: none

build(husky): fix new version
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: none

chore(single spa): added
  packages/dashboard/angular.json
  packages/dashboard/extra-webpack.config.js
  packages/dashboard/src/app/app-routing.module.ts
  packages/dashboard/src/app/app.module.ts
  packages/dashboard/src/app/empty-route/empty-route.component.ts
  packages/dashboard/src/main.single-spa.ts
  packages/dashboard/src/single-spa/asset-url.ts
  packages/dashboard/src/single-spa/single-spa-props.ts
  packages/dashboard/tsconfig.app.json
  packages/shared/angular.json
  packages/skeleton/angular.json
  packages/skeleton/extra-webpack.config.js
  packages/skeleton/src/app/app-routing.module.ts
  packages/skeleton/src/app/app.module.ts
  packages/skeleton/src/app/empty-route/empty-route.component.ts
  packages/skeleton/src/main.single-spa.ts
  packages/skeleton/src/single-spa/asset-url.ts
  packages/skeleton/src/single-spa/single-spa-props.ts
  packages/skeleton/tsconfig.app.json
  yarn.lock
Due: yarn run fix:eslint, yarn run lint:code

chore(eslint): added to the other projects
  package.json
  packages/dashboard/package.json
  packages/dashboard/src/app/app.component.ts
  packages/shared/package.json
  packages/shared/projects/models/.eslintignore
  packages/shared/projects/models/.eslintrc.js
  packages/shared/projects/models/.prettierignore
  packages/shared/projects/models/.prettierrc.json
  packages/shared/projects/models/src/lib/models.component.spec.ts
  packages/shared/projects/models/src/lib/models.component.ts
  packages/shared/projects/models/src/lib/models.module.ts
  packages/shared/projects/models/src/lib/models.service.ts
  packages/shared/projects/models/src/test.ts
  packages/skeleton/.eslintignore
  packages/skeleton/.eslintrc.json
  packages/skeleton/.prettierignore
  packages/skeleton/.prettierrc.json
  packages/skeleton/.stylelintrc.json
  packages/skeleton/package.json
  packages/skeleton/src/app/app.component.spec.ts
  packages/skeleton/src/app/app.component.ts
  packages/skeleton/src/environments/environment.prod.ts
  packages/skeleton/src/environments/environment.ts
  packages/skeleton/src/main.ts
  packages/skeleton/src/polyfills.ts
  packages/skeleton/src/test.ts
Due: yarn run fix:eslint, yarn run lint:code

chore(lint staged): change folder
  .lintstagedrc.yml
Due: none

chore(single-spa): multiple applications run
  package.json
  packages/dashboard/package.json
  packages/dashboard/src/app/app.component.html
  packages/dashboard/src/index.html
  packages/dashboard/src/main.single-spa.ts
  packages/dashboard/tsconfig.app.json
  packages/root-config/.stylelintrc.json
  packages/root-config/package.json
  packages/root-config/src/index.html
  packages/skeleton/angular.json
  packages/skeleton/package.json
  packages/skeleton/src/app/app.component.html
  packages/skeleton/src/app/app.component.scss
  packages/skeleton/src/index.html
  packages/skeleton/src/main.single-spa.ts
  yarn.lock
Due: yarn run fix:eslint, yarn run lint:code, yarn run fix:style

feat(shared:models): added user interface
  packages/shared/projects/models/src/lib/models.component.spec.ts
  packages/shared/projects/models/src/lib/models.component.ts
  packages/shared/projects/models/src/lib/models.module.ts
  packages/shared/projects/models/src/lib/models.service.spec.ts
  packages/shared/projects/models/src/lib/models.service.ts
  packages/shared/projects/models/src/lib/users.ts
  packages/shared/projects/models/src/public-api.ts
Due: yarn run fix:eslint, yarn run lint:code

chore(release): release
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/root-config/CHANGELOG.md
  packages/root-config/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/skeleton/CHANGELOG.md
  packages/skeleton/package.json
Due: none

chore(dashboard:paths): added shared models as tsconfig paths
  package.json
  packages/dashboard/src/app/app.component.html
  packages/dashboard/src/app/app.component.ts
  packages/dashboard/tsconfig.json
Due: yarn run fix:eslint, yarn run lint:code
